<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pond Monitor</title>

    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/tankmonitor.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container-fluid">
        <div class="row header-row">
            <div class="col-sm">
                <h1>Pond Monitor</h1>
            </div>
        </div>

        <div class="row measurement-title">
            <div class="col-sm">
                <h2>Temperature</h2>
            </div>
        </div>
        <div class="row measurement-value">
            <div class="col-sm text-center">
                <h2><span class="temp-value">72</span>&deg;</h2>
            </div>
        </div>
        &nbsp;
        <div class="row measurement-title">
            <div class="col-sm">
                <h2>Water Level</h2>
            </div>
        </div>
        <div class="row measurement-value">
            <div class="col-sm text-center">
                <h2>OK</h2>
            </div>
            <div class="col-sm text-center d-none">
                <h2>LOW</h2>
            </div>

        </div>


    </div>

    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
</body>
</html>